<div class="jumbotron">
  <h1 class="display-4">Blog simples em Node</h1>
  <p class="lead">NodeJS, Express</p>
  <hr class="my-4">
  {{#if user}}

  {{else}}
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Criar uma conta</a>
  </p>
  {{/if}}
</div>

<h2>Postagens: </h2>

{{#each postagens}}
<div class="jumbotron mt-3">
  <small>{{categoria.nome}}</small>
  <h1 class="display-4">{{titulo}}</h1>
  <p class="lead">{{descricao}}</p>
  <hr class="my-4">
  <p class="lead">{{conteudo}}</p>
  <small>Data de publicação: {{data}}</small>
</div>
{{else}}
  <h2>Não há postagens criadas</h2>
{{/each}}