<div class="container">
  {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
  {{else}}

  {{/each}}
  <form action="/admin/postagem/nova" method="POST">
    <h3>Cadastrar Postagem</h3>
    <div class="row table-bordered">
      <div class="col-8 mt-3">
        <label for="nome">Título:</label>
        <input class="form-control" type="text" id="titulo" name="titulo" placeholder="Título da postagem">
      </div>
      <div class="col-3 mt-3">
        <label for="slug">SLUG</label>
        <input class="form-control" type="text" id="slug" name="slug" placeholder="Slug">
      </div>
      <div class="col-6 mt-3">
        <label for="slug">Descrição</label>
        <input class="form-control" type="text" id="descricao" name="descricao" placeholder="Descrição da postagem">
      </div>
      <div class="col-6 mt-3">
        <label for="slug">Categoria</label>
        <select class="form-control" name="categoria" id="">
          {{#each categorias}}
            <option value="{{_id}}">{{nome}}</option>
          {{else}}
            <option value="0">Nenhuma categoria cadastrada</option>
          {{/each}}
        </select>
      </div>
      <div class="col-12 mt-3">
        <label for="slug">Conteúdo</label>
        <textarea class="form-control" name="conteudo" id="conteudo" cols="30" rows="10" style="min-height: 100px; max-height: 200px;"></textarea>
      </div>
      <div class="col-12 mt-3 mb-3">
        <button type="submit" class="btn btn-success">Confirmar</button>
      </div>
    </div>
  </form>
</div>