<h2>Lista de Postagens</h2>

<hr>

<a href="/admin/postagem/add"><button class="btn btn-success">Cadastrar</button></a>

{{#each postagens}}
  <div class="card mt-3">
    <div class="card-body">
      <h4>{{titulo}}</h4>
      <small>Slug: {{slug}}</small><br>
      <small>Categoria: {{categoria.nome}}</small>
    </div>
    <div class="card-footer">
      <a href="/admin/postagem/edit/{{_id}}" style="text-align: end; margin: 10px;"><button class="btn btn-primary">Edit</button></a>
      <a href="/admin/postagem/deletar/{{_id}}" style="text-align: end; margin: 10px;"><button class="btn btn-danger">Deletar</button></a>
    </div>
  </div>
{{else}}
  <h4 class="mt-3">Nenhuma Postagem foi cadastrada</h4>
{{/each}}