
<h2 class="text-center">Entrar no Sistema</h2>
<div class="card">
  <div class="card-body">
    <form action="/usuarios/login" method="POST">
      <label class="mt-3" for="email">Email: </label>
      <input type="email" class="form-control" name="email" required>
      <label class="mt-4" for="senha">Senha: </label>
      <input type="password" class="form-control" name="senha" required>
      <button class="btn btn-success mt-3" type="submit">Entrar</button>
    </form>
  </div>
</div>