<div class="container">

  {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
  {{else}}

  {{/each}}
  <h2>Criar Conta:</h2>
  <div class="backgroundTabl m-auto" style="background: #efefef">
    <form action="" method="POST">
      <div class="row m-auto">
        <div class="col-sm-12 mt-3">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" name="nome" placeholder="Nome do Usuário" required>
        </div>
        <div class="col-sm-12 mt-3">
          <label for="nome">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>
        <div class="col-sm-12 mt-3">
          <label for="nome">Senha</label>
          <input type="password" class="form-control" name="senha" placeholder="Senha" required>
        </div>
        <div class="col-sm-12 mt-3">
          <label for="nome">Confirmar Senha</label>
          <input type="password" class="form-control" name="senha2" placeholder="Confirmar Senha" required>
        </div>

        <div class="col-sm-12 mt-3 mb-5">
          <button class="btn btn-success">Criar conta</button>
        </div>
      </div>
    </form>
  </div>
  
</div>