<div class="container">
  {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
  {{else}}

  {{/each}}
  <form action="/admin/categorias/nova" method="POST">
    <h3>Cadastrar Categoria</h3>
    <div class="row table-bordered">
      <div class="col-12 mt-3">
        <label for="nome">Nome:</label>
        <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome da Categoria">
      </div>
      <div class="col-12 mt-3">
        <label for="slug">SLUG</label>
        <input class="form-control" type="text" id="slug" name="slug" placeholder="Slug da Categoria">
      </div>
      <div class="col-12 mt-3 mb-3">
        <button type="submit" class="btn btn-success">Confirmar</button>
      </div>
    </div>
  </form>
</div>