<h2>Lista de categorias</h2>

<hr>

<a href="/admin/categorias/add"><button class="btn btn-success">Cadastrar</button></a>

{{#each categorias}}
  <div class="card mt-3">
    <div class="card-body">
      <h4>{{nome}}</h4>
      <small>Slug: {{slug}}</small>
    </div>
    <div class="card-footer">
      <a href="/admin/categorias/edit/{{_id}}" style="text-align: end; margin: 10px;"><button class="btn btn-primary">Edit</button></a>
      <form action="/admin/categorias/deletar" method="POST">
        <input type="hidden" name="id" value="{{_id}}">
        <button class="btn btn-danger mt-2">Deletar</button>
      </form>
    </div>
  </div>
{{else}}
  <h4 class="mt-3">Nenhuma categoria foi cadastrada</h4>
{{/each}}